/**********************
  General
***********************/

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}



/**********************
  Heading
***********************/

#logo {
  text-align: center;
  margin: 0;
}



/**********************
  Colors
***********************/

/** Site Body **/

body {
  background: #fff;
  color: #999;
}

/** Blue Header **/

header {
  background: #5295b7;
  border-color: #30779b;
}

/** Nav Background on Mobile Devices **/

nav {
  background: #30779b;
}

/** Logo Text **/

h1, h2 {
  color: #fff;
}

/** Links **/

a {
  color: #6ab47b;
}

/** Nav Links **/

nav a, nav a:visited {
  color: #fff;
}

/** Selected Nav Link **/

nav a.selected, nav a:hover {
  color: #153463;
}















