/* Floated Columns ------------------ */

.resorts,
.tips {
  width: 46.5%;
  
  @media #{$brk-narrow} {
    float: none;
    width: 100%;
  }
}

.tips {
  float: left;
}

.resorts {
  float: right;
}