/* --------------------------
  BASE 
--------------------------- */

body {
  padding-top: 5em;
}

svg {
  width: 33.32%;
  float: left;
}
.gear-bg, .hammer-bg, .heart-bg {
  transition: .5s ease-out;
  stroke-width: 0;
}

/* --------------------------
  GEAR
--------------------------- */

.gear-bg {
  stroke: #0f718e;
}

.gear-bg:hover {
  fill: #3881cc;
  stroke-width: 8;
}


/* --------------------------
  HAMMER
--------------------------- */

.hammer-bg {
  stroke: #feae6e;
}

.hammer-bg:hover {
  fill: #f7bd2a;
  stroke-width: 8;
}

/* --------------------------
  HEART
--------------------------- */

.heart-bg {
  stroke: #a3093c;
}

.heart-bg:hover {
  fill: #f74a83;
  stroke-width: 8;
}




